<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql://localhost/c:/users/resultsgrabber/tennis.fdb</property>
    <property name="hibernate.connection.username">sysdba</property>
    <property name="hibernate.connection.password">derek</property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.use_sql_comments">false</property>
    <property name="hibernate.format_sql">false</property>
    <mapping class="data.Players" resource="data/Players.hbm.xml"/>
    <mapping class="data.Matches" resource="data/Matches.hbm.xml"/>
    <mapping class="data.Games" resource="data/Games.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
